.world-editor-mobile-layout {
  display: none;
}

.world-editor-desktop-layout {
  display: flex;
  flex: 1;
  min-height: 0;
}

@media (max-width: 768px) {
  .world-editor-desktop-layout {
    display: none;
  }

  .world-editor-mobile-layout {
    display: block;
    height: 100%;
    position: relative;
  }
}

.world-editor-mobile-panel {
  height: 100%;
}
